:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #222;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	display: flex;
	align-items: center;
	min-height: 100vh;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

:root {
  --color-light-gray: #d3d3d3;
  --color-border: #666;
  --color-border-checked: blue;
  --color-background: #f7f7f7;
}

/* container-fluid */
.container-fluid {
  width: 100%;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  margin-right: auto;
  margin-left: auto;
}

/* container */
.container {
  width: 100%;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  margin-right: auto;
  margin-left: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 36rem) {
  .container {
    max-width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 48rem) {
  .container {
    max-width: 100%;
		width: 45rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 62rem) {
  .container {
    max-width: 100%;
		width: 60rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 75rem) {
  .container {
    max-width: 100%;
		width: 71.25rem;
  }
}

/* row */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
}

/* Common properties for all breakpoints */
.col-xs-3,
.col-xs-12,
.col-sm-3,
.col-md-3,
.col-md-6,
.col-md-9 {
  position: relative;
  width: 100%; /* Default width */
  padding-right: 15px; /* Assuming $grid-gutter-width: 30px; */
  padding-left: 15px; /* Assuming $grid-gutter-width: 30px; */
  box-sizing: border-box; /* Include padding in width calculation */
}

.col-xs-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 36em) {
  /* 576px / 16px = 36em */
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 48em) {
  /* 768px / 16px = 48em */
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

fieldset {
  background-color: var(--color-background);
  border: none;
}

/* form-group */
.form-group {
  margin-bottom: 1rem;
}

/* form-check */
.form-check {
  margin-bottom: 0.75rem;
}

.form-check-label {
	margin-bottom: 0;
}

/* form-check-input */
.check-input {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -1.25rem;
  appearance: none;
}

/* form-check-label */
.check-label {
  margin-left: 1.25rem;
}

/* media query for form-check-inline */
@media (min-width: 48rem) {
  .form-check-inline {
    display: flex;
    align-items: center;
    margin-right: 0;
    padding-left: 0;
  }

  .form-check-inline .check-input {
    position: static;
    margin-top: 0;
    margin-right: 0.3125rem;
    margin-left: 0;
  }
}

/* Custom Styles */
.form-check-input {
	position: absolute;
  margin-top: .3rem;
  margin-left: -1.25rem;
}

.form-check-input:checked + .form-image {
  background-color: var(--color-light-gray);
}

.form-check-input:checked,
.form-check-input:hover {
  transform: scale(1.2);
}

.form-check + .form-check {
  margin-top: 0;
}

.product-position-container .form-check-label {
  padding-left: 0;
}

.product-position {
  max-width: 120%;
}

.product-color,
.product-material,
.product-position {
  background-color: var(--color-background);
  cursor: pointer;
  transition: transform 0.5s;
}

.product-color,
.product-material {
  border: 1px solid var(--color-border);
  height: 2.5rem;
  width: 2.5rem;
}

.product-color.product-color:checked,
.product-color.product-material:checked,
.product-material.product-color:checked,
.product-material.product-material:checked {
  border-color: var(--color-border-checked);
  border-width: 0.1875rem;
}

.product-material {
  height: 5em;
  width: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-material:after {
  content: attr(title);
  font-size: 0.8rem;
}

@media (max-width: 767px) {
  .product-position-container .form-check {
    text-align: center;
  }
}

.form-check-label.checked {
  border: 0.1875rem solid var(--color-border-checked);
}

.container-fluid {
  max-width: 60rem;
}

.page-title {
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-align: center;
}

.section-title {
  font-size: 1rem;
  text-transform: uppercase;
}
